services:
  db:
    image: postgres:latest
    environment:
      POSTGRES_DB: codingbattle
      POSTGRES_USER: battleuser
      POSTGRES_PASSWORD: battlepass
    ports:
      - "5434:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
volumes:
  postgres-data:
